<div id="carouselExampleIndicators" class="carousel slide slide-index" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <!-- Slide 1 -->
    <div class="carousel-item active"
      style="background-image: url('https://images.unsplash.com/photo-1560252771-4f4a8dcea42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">RTX</h3>
        <p class="lead">Descrição do produto</p>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item"
      style="background-image: url('https://images.unsplash.com/photo-1591447337751-c7b95cf704ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1242&q=80')">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">Xiaomi</h3>
        <p class="lead">Descrição do produto</p>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item"
      style="background-image: url('https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">Iphone</h3>
        <p class="lead">Descrição do produto</p>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item"
      style="background-image: url('https://images.unsplash.com/photo-1507955987999-df4864ee80d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-4">Samsung</h3>
        <p class="lead">Descrição do produto</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<!-- /Destaques do Site -->