<!-- Destaques do Site -->



<!-- Destaques da Semana -->
<section class="py-5">
    <div class="container">
        <h1 class="font-weight-light alert alert-dark  " style="text-align: center;">Destaques da semana</h1>
    </div>
</section>
<!-- /Destaques da Semana -->


<!-- Preços -->
<div class="container ">

    <div class="row">
        {{#each itens}}
        {{>card_iten}}
        {{/each}}
    </div>

</div>
<!-- /Preços -->