<!-- Outros -->
<section class="outros navbar-dark bg-dark ">


  <div class="container cont-outros">
    <div class="row navbar-dark bg-dark">

      <div class="col-sm">
        <h5 style="color: rgb(255, 255, 255);">Formas de pagamento</h5>
        <ul class="list-unstyled text-small">
          <img src="img/pay.png" alt="" style="width: 100%;">
        </ul>
      </div>


      <div class="col-sm">
        <h5 style="color: rgb(255, 255, 255);">Segurança</h5>
        <ul class="list-unstyled text-small">
          <img src="img/seguranca.png" alt="">
          <img src="img/segurança2.png" alt="">
          <img src="img/segurança3.png" alt="">
        </ul>
      </div>

      <div class="col-sm">
        <h5 style="color: rgb(255, 255, 255);">Redes Sociais</h5>
        <ul class="list-unstyled text-small">
          <a class="icone-face" target="_blank" href="https://www.facebook.com">
            <img src="img/icones/images/facebook.png" width="15px" height="15px" alt="">
          </a>

          <a class="icone-insta" target="_blank" href="https://www.instagram.com">
            <img src="img/icones/images/instagram.png" width="15px" height="15px" alt="">
          </a>

          <a class="icone-twitter" target="_blank" href="https://www.twitter.com">
            <img src="img/icones/images/twitter.png" width="15px" height="15px" alt="">
          </a>
        </ul>
      </div>

    </div>
  </div>

</section>
<!-- /Outros -->


<!-- Footer -->
<footer class="footer">
  <span>&copy; 2020 - Site WEB</span>
</footer>
<!-- /Footer -->