<link href="css/popupStatus.css" rel="stylesheet">

<!-- Modal -->
<div class="popup backblack" id="popup">
  <div class="modal-dialog popup" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{popupMessage}} </h5>
        <button onclick="$('#popup').hide();" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
        </div>
        <form method="GET">
          <button type="submit" name="ok" value="true" class="btn btn-success">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>